<div class="large-12 columns">
    <table class="hover">
        <thead>
            <tr>
                <th ng-click="sortBy(['Territory.TerritoryCode'])">Territory</th>
                <th ng-click="sortBy(['CheckOutDate', ['Territory.TerritoryCode']])">Check Out Date</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in ledgerEntries | orderBy: sortExpression">
                <td>{{ l.Territory.TerritoryCode }}</td>
                <td>{{ l.CheckOutDate | date:'medium' }}</td>
                <td class="text-center"><a href="http://www.google.com/" class="button" target="_blank">View</a></td>
                <td class="text-center"><a ng-click="checkIn(l.Territory)" class="button">Check In</a></td>
            </tr>
        </tbody>
    </table>
</div>