<div class="large-12 columns">
    <table class="hover stack">
        <thead>
            <tr>
                <th ng-click="sortBy(['Territory.TerritoryCode'])">Territory</th>
                <th ng-click="sortBy(['User.FirstName', 'User.LastName', 'Territory.TerritoryCode'])">First Name</th>
                <th ng-click="sortBy(['User.LastName', 'User.FirstName', 'Territory.TerritoryCode'])">Last Name</th>
                <th ng-click="sortBy(['CheckOutDate', ['Territory.TerritoryCode']])">Check Out Date</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in territories | orderBy: sortExpression">
                <td class="text-center large-text-left">{{ t.Territory.TerritoryCode }}</td>
                <td class="text-center large-text-left">{{ t.User.FirstName }}</td>
                <td class="text-center large-text-left">{{ t.User.LastName }}</td>
                <td class="text-center large-text-left">{{ t.CheckOutDate | date:'medium' }}</td>
                <td class="text-center"><a href="http://www.google.com/" class="button" target="_blank">View</a></td>
                <td class="text-center"><a ng-click="checkIn(t.Territory)" class="button">Check In</a></td>
            </tr>
        </tbody>
    </table>
</div>