<div class="row">
    <div class="large-12 columns">
        <table class="hover stack">
            <thead>
                <tr>
                    <th ng-click="sortBy(['Territory.TerritoryCode'])">Territory</th>
                    <th ng-click="sortBy(['CheckOutDate', ['Territory.TerritoryCode']])">Check Out Date</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in ledgerEntries | orderBy: sortExpression">
                    <td class="text-center large-text-left">{{ l.Territory.TerritoryCode }}</td>
                    <td class="text-center large-text-left">{{ l.CheckOutDate | date:'medium' }}</td>
                    <td class="text-center"><a href="{{ viewLink + '?id=' + l.Territory.TerritoryId }}" class="button" target="_blank">View</a></td>
                    <td class="text-center"><a ng-click="reWork(l.Territory)" class="button">Rework</a></td>
                    <td class="text-center"><a ng-click="checkIn(l.Territory)" class="button">Check In</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-12 columns text-center">
        <button ng-click="checkOut()" class="button">Check Out</button>
    </div>
</div>