<div class="large-12 columns">
    <table class="hover">
        <thead>
            <tr>
                <th ng-click="sortBy(['Territory.TerritoryCode'])">Territory</th>
                <th ng-click="sortBy(['CheckInDate', ['Territory.TerritoryCode']])">Check In Date</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in territories | orderBy: sortExpression">
                <td>{{ t.Territory.TerritoryCode }}</td>
                <td>{{ t.CheckInDate | date:'medium' }}</td>
                <td class="text-center"><a href="http://www.google.com/" class="button" target="_blank">View</a></td>
                <td class="text-center"><a ng-click="checkOut(t.Territory)" class="button">Check Out</a></td>
            </tr>
        </tbody>
    </table>
</div>